<div class="mx-auto max-w-6xl justify-between flex px-4 py-16">
  <div class="rounded-lg p-8 bg-white/[.05] shadow">
    <form class="space-y-4">
      <textarea
        class="text-white w-full bg-transparent border-[1px] resize-none rounded-lg border-[#3e3e3e] p-3 text-sm"
        placeholder="Front"
        rows="8"></textarea>

      <textarea
        class="text-white w-full bg-transparent border-[1px] resize-none rounded-lg border-[#3e3e3e] p-3 text-sm"
        placeholder="Back"
        rows="8"></textarea>

      <button
        type="submit"
        class="mt-4 text-sm w-full items-center justify-center rounded-lg bg-black px-5 py-3 text-white sm:w-auto">
        Add Flashcard
      </button>
    </form>
  </div>

  <app-flashcard></app-flashcard>
</div>
