<div class="card-wrapper">
  <div class="card" [class.card-flip]="shouldFlip">
    <div class="face front">
      <h3 class="debit">Debit Card</h3>
    </div>
    <div class="face back">
      <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo a commodi voluptatibus beatae perferendis tempora officia esse, consectetur, iusto illo suscipit labore, quasi sint recusandae et nostrum omnis cumque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo a commodi voluptatibus beatae</p>
    </div>
  </div>
</div>
