<div class="relative flex flex-col wrapper">
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="flashcards.length; else noFlashcards">
      <ngb-carousel #carousel
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
        [interval]="0"
      >
        <ng-template ngbSlide *ngFor="let flashcard of flashcards">
          <app-flashcard [front]="flashcard.front" [back]="flashcard.back"></app-flashcard>
        </ng-template>
      </ngb-carousel>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <span class="text-white">Loading...</span>
</ng-template>

<ng-template #noFlashcards>
  <span class="text-white">No flashcard to show</span>
</ng-template>
