<div class="wrapper">
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="flashcards.length; else noFlashcards">
      <div *ngFor="let i of [currentIndex]">
        <app-flashcard *ngIf="flashcards[currentIndex] as flashcard" [front]="flashcard
      .front" [back]="flashcard.back"></app-flashcard>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <span class="text-white">Loading...</span>
</ng-template>

<ng-template #noFlashcards>
  <span class="text-white">No flashcard to show</span>
</ng-template>