.wrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  min-height: 100vh;
}

.avatar-gradient {
  --b: 3px;
  width: 44px;
  height: 44px;
  color: #313149;
  display: inline-block;
  aspect-ratio: 1;
  position: relative;
}

.avatar-gradient:before {
  content: "";
  inset: 0;
  position: absolute;
  background: var(--c, linear-gradient(to right, #9c20aa, #fb3570));
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

:host ::ng-deep {
  app-category {
    .category-wrapper {
      min-height: unset;
    }
  }
}
