<div class="flex overflow-hidden itmes-center justify-center">
  <ng-container *ngIf="flashcards; else loading">
    <ng-container *ngIf="flashcards.length; else noFlashcards">
      <ngb-carousel #carousel
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
        [interval]="0"
        [animation]="false"
        (swipeleft)="carousel.prev()"
        (swiperight)="carousel.next()"
      >
        <ng-template ngbSlide *ngFor="let flashcard of flashcards">
          <app-flashcard [content]="flashcard.content"></app-flashcard>
        </ng-template>
      </ngb-carousel>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <span class="text-white">Loading...</span>
</ng-template>

<ng-template #noFlashcards>
  <span class="text-white">No flashcard to show</span>
</ng-template>
