:host ::ng-deep {
  ngb-carousel {
    &:focus {
      outline: none;
    }

    .carousel-item {
      height: 100vh;
      width: 100vw;
      padding: 0 1rem;

      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
