<div  class="min-h-[150px]">
  <ng-container *ngIf="!isLoading; else loadingCategories">
    <ng-select *ngIf="!hideIfNoFlashcards || (hideIfNoFlashcards && flashcardCategories.length)"
      class="category" [ngModel]="selectedCategory"
      (change)="onCategoryChange($event)"
      placeholder="Flashcard category" [loadingText]="'Loading...'" notFoundText="No categories found. Please insert new one."
      addTagText="Add new category" [clearable]="false" [addTag]="onAddNewCategory.bind(this)">
      <ng-option *ngFor="let category of flashcardCategories" [value]="category.key">{{ category.name }}</ng-option>
    </ng-select>

    <div *ngIf="showList" class="text-white flex gap-10 text-sm mt-2">
      <span *ngFor="let category of flashcardCategories" (click)="onRemoveCategory(category.key!, category.name)" class="flex items-center gap-1 cursor-pointer">
        <i class="fa fa-times-circle" aria-hidden="true"></i> {{ category.name }}
      </span>
    </div>
  </ng-container>
</div>

<ng-template #loadingCategories>
  <span *ngIf="showLoading" class="text-sm text-white block">Loading categories...</span>
</ng-template>
