<div class="category-wrapper min-w-[200px] min-h-[54px]">
  <ng-container *ngIf="flashcardCategories; else loadingCategories">
    <ng-select *ngIf="flashcardCategories.length"
      #category
      class="category" [ngModel]="selectedCategory"
      (change)="onCategoryChange($event); category.blur()"
      placeholder="Flashcard category" [loadingText]="'Loading...'" notFoundText="No categories found. Please insert new one."
      addTagText="Add new category" [clearable]="false" [addTag]="onAddNewCategory.bind(this)">
      <ng-option *ngFor="let category of flashcardCategories" [value]="category.key">{{ category.name }}</ng-option>
    </ng-select>
  </ng-container>
</div>

<ng-template #loadingCategories>
  <span class="text-sm text-white block pt-7">Loading categories...</span>
</ng-template>
