:host ::ng-deep {
  .ng-select.category {
    font-size: 0.875rem;
    padding-bottom: 0;

    ng-dropdown-panel {
      margin-top: 1rem;
    }

    .ng-select-container {
      .ng-value-container {
        color: white;
        padding-top: 14px;

        .ng-placeholder {
          color: #3e3e3e;
        }
      }

      .ng-arrow-wrapper {
        .ng-arrow {
          color: #3e3e3e;
        }
      }

      &::after {
        border: 1px solid #3e3e3e;
      }
    }
  }
}
