@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1a1a1a;
  overflow: hidden;
}


:host ::ng-deep {
  .ng-select {
    font-size: 0.875rem;

    .ng-select-container {
      .ng-value-container {
        color: white;
        padding-top: 14px;

        .ng-placeholder {
          color: #3e3e3e;
        }
      }

      .ng-arrow-wrapper {
        .ng-arrow {
          color: #3e3e3e;
        }
      }

      &::after {
        border: 1px solid #3e3e3e;
      }
    }
  }
}
